@font-face {
    font-family: 'DM Serif Display';
    src: local('DM Serif Display Italic'), local('DMSerifDisplay-Italic'),
        url('https://lshtgdpdskhqqxdcwpjo.supabase.co/storage/v1/object/public/assets/fonts/DMSerifDisplay-Italic.woff2') format('woff2'),
        url('https://lshtgdpdskhqqxdcwpjo.supabase.co/storage/v1/object/public/assets/fonts/DMSerifDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Serif Display';
    src: local('DM Serif Display Regular'), local('DMSerifDisplay-Regular'),
        url('https://lshtgdpdskhqqxdcwpjo.supabase.co/storage/v1/object/public/assets/fonts/DMSerifDisplay-Regular.woff2') format('woff2'),
        url('https://lshtgdpdskhqqxdcwpjo.supabase.co/storage/v1/object/public/assets/fonts/DMSerifDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

