/* 
This file is for setting overrides for elements like <body> or <a>.
It can also be used to define variables.
*/

a {
  color: inherit;
  text-decoration: inherit
}

dialog {
  padding: 0;
  border: none;
}

:root {
  --off-white: #fff5ee;
  --off-black: #0e0e10;
  --dark-blue: #0f1424;
}

body {
  background-color: var(--off-white)
}

html:has(#site-overlay:target),
body:has(#site-overlay:target) {
  overflow: hidden;
  height: 100vh;
}
