.text {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

.text--h1 {
  font-size: 6rem
}

.text--h2 {
  font-size: 2.8rem;
  margin-bottom: 1.2rem;
}

.text--p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 0.8rem;
}

/* This is labelled as such for future dark mode support */
.text--invert {
  color: var(--off-white);
}

/* Sourced from https://modernfontstacks.com */
/* This is Neo-Grotesque */
.text--sans {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

/* And this is Didone */
.text--serif {
  font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
}

/* And this is Monospace Slab Serif */
.text--mono {
  font-family: 'Nimbus Mono PS', 'Courier New', monospace;
}

.button {
  background-color: var(--off-black);
  color: var(--off-white);
  padding: 0.8rem;
  border-radius: 0.8rem
}

.button--invert {
  background-color: var(--off-white);
  color: var(--off-black);
}

@media (max-width: 992px) {
  .text--hero {
    font-size: 4.5rem
  }
}

@keyframes emptyanim {}
