.text {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

/* I admit these utility classes are getting a bit stupid */
.text--inline-block {
  display: inline-block;
}

.text--h1 {
  font-size: 6rem
}

.text--h2 {
  font-size: 2.8rem;
  margin-bottom: 1.2rem;
}

.text--p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 0.8rem;
}

/* This is labelled as such for future dark mode support */
.text--invert {
  color: var(--off-white);
}

/* Sourced from https://modernfontstacks.com */
/* This is Neo-Grotesque */
.text--sans {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

/* And this is Didone */
.text--serif {
  font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
}

/* And this is Monospace Slab Serif */
.text--mono {
  font-family: 'Nimbus Mono PS', 'Courier New', monospace;
}

.button {
  color: var(--off-black);
  padding: 0.8rem 1.6rem;
  border: 1px solid var(--off-black);
  display: inline-block;
  transition: all 0.2s ease-out
}

.button:hover {
  color: var(--off-white);
  background-color: var(--dark-blue);
  border-color: var(--dark-blue);
}

.button--invert {
  color: var(--off-white);
  border: 1px solid var(--off-white); 
}

.button--invert:hover {
  background-color: var(--off-white);
  color: var(--off-black);
  border-color: var(--off-white);
}

@media (max-width: 992px) {
  .text--h1 {
    font-size: 4.5rem
  }
}

@keyframes emptyanim {}
