.text {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: TeXGyreHeros, Helvetica, sans-serif
}

.text--h1 {
  font-size: 3.5rem
}

.text--h2 {
  font-size: 2.8rem;
  margin-bottom: 1.2rem;
}

.text--p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 0.8rem;
}

.text--hero {
  font-size: 6rem;
  color: var(--off-white);
  text-align: center
}

.text--sans {
  font-family: TeXGyreHeros, Helvetica, sans-serif
}

.text--serif {
  font-family: "DM Serif Display", Georgia, serif
}

.text--mono {
  font-family: "Fira Code", Courier New, monospace
}

.button {
  background-color: var(--off-black);
  color: var(--off-white);
  padding: 0.8rem;
  border-radius: 0.8rem
}
